<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drawable.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShapeDrawableActivity"/>
        <activity android:name=".BitmapDrawableActivity"/>
        <activity android:name=".LayerListDrawableActivity"/>
        <activity android:name=".StateListDrawableActivity"/>
        <activity android:name=".LevelListDrawableActivity"/>
        <activity android:name=".TransitionDrawableActivity"/>
        <activity android:name=".InsetDrawableActivity"/>
        <activity android:name=".ClipDrawableActivity"/>
        <activity android:name=".ScaleDrawableActivity"/>
        <activity android:name=".ColorDrawableActivity"/>
        <activity android:name=".RotateDrawableActivity"/>
        <activity android:name=".RoundedBitmapDrawableActivity"/>
        <activity android:name=".ShapeDrawableCustomActivity"/>
        <activity android:name=".ShapeDrawablePathActivity"/>
        <activity android:name=".PaintDrawableActivity"/>
        <activity android:name=".RippleDrawableActivity"/>
    </application>

</manifest>